body{
    background-color: lime;
}

#time-title{
    font-family: "Dank Mono";
}

#time {
    font-family: "Dank Mono";
    font-size: 400px;
    color: white;
}

#light-mode {
    transform: translate(0, 50);
}